Client2/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/Service/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://Service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service/">

<xs:element name="Findbyear" type="tns:Findbyear"/>

<xs:element name="FindbyearResponse" type="tns:FindbyearResponse"/>

<xs:element name="coviddata2" type="tns:coviddata2"/>

<xs:complexType name="Findbyear">
<xs:sequence>
<xs:element name="year" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindbyearResponse">
<xs:sequence>
<xs:element name="return" type="tns:coviddata2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="coviddata2">
<xs:sequence>
<xs:element name="newCase" type="xs:int" minOccurs="0"/>
<xs:element name="newCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="newDeath" type="xs:int" minOccurs="0"/>
<xs:element name="province" type="xs:string" minOccurs="0"/>
<xs:element name="totalCase" type="xs:int" minOccurs="0"/>
<xs:element name="totalCaseExcludeabroad" type="xs:int" minOccurs="0"/>
<xs:element name="totalDeath" type="xs:int" minOccurs="0"/>
<xs:element name="updateDate" type="xs:string" minOccurs="0"/>
<xs:element name="weeknum" type="xs:int" minOccurs="0"/>
<xs:element name="yearnum" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>